
/* 
    Created on : Feb 6, 2017, 6:52:32 PM
    Author     : Ben Girone
    To be linked to index.php and register/index.php
*/

body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 150%;
    background-image: url("graphics/space.jpg");
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 100%;
}

input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 100%;
}

input[type=submit] {
    width: 100%;
    background-color: #72A1ED;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #72CEED;
}

.loginTable {
    padding: 5px;
    color: white;
    border-radius: 4px;
    margin: auto;
    width: 30%;
}

.loginHeader {
    text-align: center;

}

.errorText {
    font-size: 70%;
    color: red;
}

input[type=submit].register {
    background-color: #E33B46;
}

input[type=submit].register:hover {
    background-color: #F57878;
}